.principal__g{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 375px;
        height: 375px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }

    p{
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        font-family: sans-serif;
        text-align: center;
    
    }
}