.principal__s{
    display: $display;
    flex-direction: $flexd;
    flex-wrap: $flexw;
    justify-content: $justifyc;
    img{
        width: 375px;
        height: 375px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.div__centrado{
    text-align: center;
    button{
        background-color: rgb(31, 31, 31);
        color: aliceblue;
    }
}