.principal__s{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 375px;
        height: 375px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.div__centrado{
    text-align: center;
    button{
        background-color: rgb(31, 31, 31);
        color: aliceblue;
    }
}